* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Playball", sans-serif;
  font-weight: 500;
  background-color: #c7c4c4;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.cat-card {
  margin-top: 20px;
  width: 300px;
  height: 90%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  transform-origin: center center;
}

.avatar {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.cat-info {
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 15px;
  margin-bottom: 10px;
  color: #fff;
  padding: 10px;
}
h1 {
  font-size: 3rem;
  font-family: "Playball", sans-serif;
}
p {
  font-family: "Libre Bodoni", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.icon {
  width: 30vw;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.disliked-icon,
.liked-icon {
  font-size: 2rem;
  padding: 20px;
  color: red;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: grab;
}
.liked,
.disliked {
  background-color: goldenrod;
}
